*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* COLORS */
:root{
    --black:#000000;
    --darkgrey:#2e2e2e;
    --blue:#0000ff;
    --red: #cd3d0f;
}
.white{
    fill: white;
    color:white;
}
.bg-red{
    background-color:#cd3d0f;
}
.bg-light-black{
    background-color: #1f1f1f;
}
.blue{
    color:#0b6cff;
}
.bg-blue{
    background-color: #0b6cff;
}
.bg-dark-blue{
    background-color: #161c3b;
}

.grey{
    color: grey;
}
.bg-grey{
    background-color: grey;
}
.bg-light-grey{
    background-color: lightgray;
}
.black{
    color: black;
}
/* COLORS */
/* NAVBAR */
.nav-top{
    background-color: var(--black);
}
#logo-sony{
    justify-content: flex-end;
    height: 10px;
}
/* /NAVBAR */

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* GENERAL */
.debug{
 border: 1px solid black;
}

/* /GENERAL */
/* SECTION1 */
section#jumbotron{
    margin-top: 90px;
}
#jumbotron{
    background-image: url("../img/jumbo-bg.png");
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center center;
}
/* SECTION1 */

/* SECTION2 */
#game-1{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;

}

/* /SECTION2 */


/* NAVBAR */

/* /NAVBAR */

/* COLORS */


/* HOVERS */
.img-wrapper:hover i{
    opacity: 1;
    cursor: pointer;
}

div.col-12 img:hover:hover{
    transition: 0.3s;
    cursor: pointer;
    filter: brightness(60%);
}

